<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fregments/head::head}"></head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <header th:replace="~{fregments/top-nav::top-nav}"></header>
    <!-- =============================================== -->

    <aside th:replace="~{fregments/left-sidebar::left-sidebar}"></aside>
    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <span th:if="${category.id == null}">Add New Category</span>
                <span th:if="${category.id != null}">Update Category</span>
            </h1>

            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a th:href="@{/categories/index}">Categories</a></li>
                <li class="active" th:text="${category.getName()}"></li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <form class="form-horizontal form-label-left" th:action="@{/categories/save}" th:object="${category}" method="post"
                  enctype="multipart/form-data">

                <!-- Default box -->
                <div class="box box-primary">
                    <div class="box-body">
                        <input type="hidden" th:field="*{id}">

                        <div class="form-group">
                            <div class="col-md-offset-3 col-sm-offset-3 col-md-6 col-sm-6 col-xs-12">
                                <img id="imagePreview" th:if="${category.photo != null}" th:src="${'/uploads/'+category.photo}" th:alt="${category.name}" class="img-thumbnail" style="max-width: 200px;"/>
                                <img id="imagePreview" th:src="@{/img/image-placeholder.png}" th:if="${category.photo == null}" th:alt="${category.name}" class="img-thumbnail" style="max-width: 200px;"/>
                            </div><!-- .col-md-6 col-sm-6 col-xs-12 -->
                        </div>

                        <div class="form-group">
                            <label for="image" class="control-label col-md-3 col-sm-3 col-xs-12">
                                Upload Image
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label class="btn btn-default">Upload
                                    <input type="hidden" th:field="*{photo}">
                                    <input type="file" name="image" id="uploadImage" accept="image/gif, image/jpeg, image/png, image/svg" style="display: none">

                                </label>
                                <span class="label label-default" id="upload-file-info"></span>
                                <p class="help-block" id="upload-file-status">
                                    Accepted filetypes are jpg, png, gif, and svg. Max upload size allowed is 8M.
                                </p>
                            </div><!-- col-md-6 col-sm-6 col-xs-12 -->

                        </div><!-- form-group -->
                        <div class="form-group">
                            <label for="name" class="control-label col-md-3 col-sm-3 col-xs-12">
                                Name
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="name" th:field="*{name}" class="form-control col-md-7 col-xs-12"
                                       placeholder="Name">
                            </div>
                        </div>


                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button class="btn btn-success" type="submit"><i class="fa fa-floppy-o"></i> Save
                        </button>
                    </div>
                </div>
                <!-- /.box -->
            </form>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer th:replace="~{fregments/footer::footer}"></footer>

    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->


<script th:inline="javascript">

    function customSearchFormatter(value, searchText) {
        console.log(value)
        return value.toString().replace(new RegExp('(' + searchText + ')', 'gim'), '<span style="background-color: pink;border: 1px solid red;border-radius:90px;padding:4px">$1</span>')
    }

    function actionBtnFormatter(value, row, index) {
        /*<![CDATA[*/
        var editUrl = /*[[@{/categories/edit?id=}]]*/;
        var deleteUrl = /*[[@{/categories/delete?id=}]]*/;
        return [
            '<span style="white-space: nowrap;"><a href="' + editUrl + row.id + '" class="btn btn-warning btn-sm margin-r-5" data-tooltip="true" title="Edit" data-original-title="Edit"><i class="fa fa-pencil-square-o"></i></a>' +
            '<a href="' + deleteUrl + row.id + '" class="btn btn-danger btn-sm" data-tooltip="true" title data-original-title="Delete"><i class="fa fa-trash"></i></a></span>'
        ].join('')
        /*]]>*/
    }
</script>


<section th:replace="~{fregments/footer::footer-script}"></section>
</body>
</html>
